@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

:root{
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
}

body{
    box-sizing: border-box;
    font-family: 'Roboto';
    background-color: var(--charcoal-grey);
    color: var(--dark-slate-grey);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.main{
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    height: 450px;
    width: 650px;
    padding: 20px;
    border-radius: 30px;
}

.first-half{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 585px;
    padding: 0px 15px;
}

.stay-updated{
    display: flex;
    align-items: left;
    justify-content: left;
    width: 100%;
    font-size: 50px;
    margin-bottom: 0px;
}

.checklist{
    padding: 2px;
    margin-bottom: 8px;
}

.list-item{
    padding: 5px 2px;
}


#sign-up{
    margin: 0px 0px;
}

.sign-up-form label,input,button{
    width: 100%;
}


.sign-up-form label{
    font-size: 13px;
    font-weight: 600;
}

.sign-up-form input{
    padding: 10px;
    border-radius: 7px;
    border-width: 0.5px;
    border-color: var(--grey);
    border-style: solid;
    max-width: 92.5%;
    margin: 10px 0px;
}

.sign-up-form button{
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 7px;
    border-style: none;
    background-color: var(--dark-slate-grey);
    color: var(--white);
    font-weight: 600;
}

.sign-up-form button:hover{
    background-color: hsl(4, 100%, 67%);
    cursor: pointer;
}

.attribution{
    font-size: smaller;
    
}



