@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

:root{
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
}

body{
    box-sizing: border-box;
    font-family: 'Roboto';
    font-weight: 400;
    background-color: var(--charcoal-grey);
    color: var(--dark-slate-grey);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.main{
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    height: 450px;
    width: 650px;
    padding: 20px;
    border-radius: 30px;
}

.second-half-top-mobile{
    display: none;
}

.first-half{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 585px;
    padding: 0px 15px;
}

.stay-updated{
    display: flex;
    align-items: left;
    justify-content: left;
    width: 100%;
    font-size: 3rem;
    margin-bottom: 0px;
}

.checklist{
    padding: 2px;
    margin-bottom: 8px;
}

.list-item{
    padding: 5px 2px;
    justify-content: space-around;
}

.email-label{
    margin-bottom: 5px;
}

.email-label b{
    font-size: 13px;
    margin-left: 109px;
    display: none;
}

#sign-up{
    margin: 0px 0px;
}

.sign-up-form label,button{
    width: 100%;
}


.sign-up-form label{
    font-size: 13px;
    font-weight: 600;
    line-height: 0;
}

.sign-up-form input{
    padding: 15px;
    border-radius: 7px;
    border-width: 0.5px;
    border-color: var(--grey);
    border-style: solid;
    width: 90%;
    margin: 0px 0px 10px 0px;
}

.sign-up-form button{
    padding: 20px;
    margin-bottom: 5px;
    border-radius: 7px;
    border-style: none;
    background-color: var(--dark-slate-grey);
    color: var(--white);
    font-weight: 600;
}

.sign-up-form button:hover{
    background-color: hsl(4, 100%, 67%);
    cursor: pointer;
    transition: .5s;
}

.attribution{
    font-size: smaller; 
}


/* Code for mobile view */
@media screen and (max-width:375px) {
    body{
        display: flex;
        height: auto;
        width: 375px;
        background-color: var(--white);
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 0px;
    }
    .main{
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
        border-radius: 0%;
    }

    .first-half{
        display: grid;
        width: 100%;
        padding: 15px;
        margin: 15px;
        line-height: 2.2;
    }

    .stay-updated{
        margin-top: 0px;
        line-height: 1.5;
        font-size: 2.5;
    }

    .checklist p{
        line-height: 1.5;
    }


    .list-item{
        line-height: 1.6;
    }

    .second-half-top-mobile{
        display: flex;
    }

    .attribution{
        line-height: normal;
    }








    .second-half-bottom{
        display: none;
    }
}



